@import url(./styles/cell.css);
@import url(./styles/button.css);
@import url(./styles/results.css);

:root {
    --cor-de-fundo: linear-gradient(90deg, rgba(208,147,242,1) 40%, rgba(213,173,249,1) 100%);
    --branco: #ffffff;
    --cinza: rgba(255, 255, 255, 0.3);
    --roxo: #cf7df7;
    --preto-transparente: rgba(0, 0, 0, 0.8);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--cor-de-fundo); 
}

.container {
    margin-top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);  
}

.container.x .cell:not(.x):not(.circle):hover::after,
.container.x .cell:not(.x):not(.circle):hover::before,
.container.circle .cell:not(.x):not(.circle):hover::after,
.container.x .cell:not(.x):not(.circle):hover::before {
  background: var(--cinza) !important;
}
 
.titulo {
    display: flex;
    margin-left: 32.5rem;
    position: fixed;
    top: 3rem;
    color: #fafafa;
    font-size: 40px;
}

@media screen and (max-width: 480px) {
    .titulo {
        font-size: 36px;
        margin-left: 5rem;
    }

    .container {
        margin-top: 3rem;
    }  
}
