.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--preto-transparente);
    flex-direction: column;
}

.winning-message-text {
    color: var(--branco);
    font-size: 5rem;
}

.winning-message-button {
    font-size: 2.5rem;
    background-color: var(--roxo);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: var(--branco)
}

.winning-message-button:hover {
    color: var(--roxo);
    background-color: var(--branco);
}

.show-winning-message {
    display: flex;
}

@media screen and (min-width: 480px) {
    .winning-message-text {
        margin-top: -16rem;
        font-size: 3.5rem;
    }
    
    .winning-message-button {
        font-size: 1.5rem;
    }
}
